.price{
    padding: 20px 20px 0px 20px;
    min-height: 200px;
    border-radius: 5px;
    max-width: 660px;
    border: 5px solid #fff200;
    background:#f9f9f9;
}
.calc_title{
    font-size: 28px;
    color: #ee1d25;
    margin: 0 0 20px;
}
.result{
    padding: 20px 0 0;
    margin: 20px 0;
    font-size: 24px;
    border-top: 1px solid #e0e0e0;
}
span.total{
    color: #ed1d25;
}
.calculator input[type="text"], select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
}